{{> themes/Cloth/front-menu}}
<div class="sugges">
    <div class="row app__content">

        <div class="col l-2 m-0 c-0">
            <nav class="category">
                <h3 class="category__heading">
                    <i class="category__heading-icon fas fa-list"></i> Danh mục
                </h3>
                <ul class="category-list">
                    <li class="category-item category-item--active {{#unless searchTerm}}active{{/unless}}">
                        <a href="/" class="category-item__link">Home</a>
                    </li>
                    {{#each menu.items}}
                    <li class="nav-item" {{#menuMatch this.title @root.searchTerm}}{{/menuMatch}}
                        {{#menuMatch this.title @root.title}}{{/menuMatch}}>
                        <a class="nav-link" href="{{this.link}}">{{this.title}}</a>
                    </li>
                    {{/each}}
                </ul>
            </nav>
        </div>
        <div class="col l-10 m-12 c-12">
            <div class="home-fitter hide-on-mobile-tablet">
                <span class="home-fitter__label">Sắp xếp theo</span>
                <button class="home-fitter__btn btn">Phổ biến</button>
                <button class="home-fitter__btn btn btn__primary">Mới nhất</button>
                <button class="home-fitter__btn btn">Bán chạy</button>
                <div class="select-input">
                    <span class="select-input__label">Giá</span>
                    <i class="select-input__icon fas fa-angle-down"></i>
                    <ul class="select-input__list">
                        <li class="select-input__item">
                            <a href="" class="select-input__link">Giá: Thấp đến cao</a>
                        </li>
                        <li class="select-input__item">
                            <a href="" class="select-input__link">Giá: Cao đến thấp</a>
                        </li>
                    </ul>
                </div>
                <div class="home-fitter__page">
                    <span class="home-fitter__page-num">
                        <span class="home-fitter__page-current">1</span>/14
                    </span>
                    <div class="home-fitter__page-control">
                        <a href="" class="home-fitter__page-btn home-fitter__page-btn--disable">
                            <i class="home-fitter__page-icon fas fa-angle-left"></i>
                        </a>
                        <a href="" class="home-fitter__page-btn">
                            <i class="home-fitter__page-icon fas fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            {{!-- <nav class="mobile-category">
                <ul class="mobile-category__list">
                    <li class="mobile-category__item">
                        <a href="" class="mobile-category__link">Laptop Dưới 10.000.000đ </a>
                    </li>
                    <li class="mobile-category__item">
                        <a href="" class="mobile-category__link">Laptop Trên 100.000.000đ</a>
                    </li>
                    <li class="mobile-category__item">
                        <a href="" class="mobile-category__link">Laptop Trên 1.000.000.000đ</a>
                    </li>
                    <li class="mobile-category__item">
                        <a href="" class="mobile-category__link">Laptop Trên 10.000.000.000đ</a>
                    </li>
                    <li class="mobile-category__item">
                        <a href="" class="mobile-category__link">Laptop Trên 100.000.000.000đ</a>
                    </li>
                    <li class="mobile-category__item">
                        <a href="" class="mobile-category__link">Laptop Dell</a>
                    </li>
                    <li class="mobile-category__item">
                        <a href="" class="mobile-category__link">Laptop Dell</a>
                    </li>
                    <li class="mobile-category__item">
                        <a href="" class="mobile-category__link">Laptop Dell</a>
                    </li>
                    <li class="mobile-category__item">
                        <a href="" class="mobile-category__link">Laptop Dell</a>
                    </li>
                </ul>
            </nav> --}}
            <div class="home-product">
                <div class="row sm-gutter">

                    <div class="productsWrapper col-sm-12">
                        {{#if filtered}}
                        <div class="product-layout product-results col-sm-12">
                            {{#ifCond @root.paginateUrl '==' 'category'}}
                            <h1>{{ @root.__ "Category" }}: <strong>{{@root.searchTerm}}</strong></h1>
                            {{else}}
                            <h1>{{ @root.__ "Search results" }}: <strong>{{@root.searchTerm}}</strong></h1>
                            {{/ifCond}}
                        </div>
                        {{/if}}
                        <div class="row product-layout">
                            {{#ifCond results.length '==' 0}}
                            <div class="col-sm-12">
                                <p class="text-danger">{{ @root.__ "No products found" }}</p>
                            </div>
                            {{/ifCond}}
                            {{#each results}}
                            <div class="{{perRowClass ../config.productsPerRow}}">

                                {{#if productPermalink}}
                                <div class="home-product-item">
                                    <a href="/product/{{this.productPermalink}}">
                                        <div class="home-product-item__img">
                                            {{#if productImage}}
                                            <img class="img-fluid" src="{{this.productImage}}" alt="...">
                                            {{else}}
                                            <img class="img-fluid" src="/uploads/placeholder.png" alt="...">
                                            {{/if}}
                                        </div>
                                        <h3 class="home-product-item__name">
                                            {{this.productTitle}}
                                        </h3>
                                    </a>
                                </div>
                                {{else}}
                                <a href="/product/{{this._id}}">
                                    <div class="home-product-item__img">
                                        {{#if productImage}}
                                        <img class="img-fluid" src="{{this.productImage}}" alt="...">
                                        {{else}}
                                        <img class="img-fluid" src="/uploads/placeholder.png" alt="...">
                                        {{/if}}
                                    </div>
                                    <h3 class="product-title product-title-home top-pad-10">
                                        {{this.productTitle}}
                                    </h3>
                                </a>
                                {{/if}}
                                {{#if variants}}
                                <div class="col-md-12">
                                    {{#if @root.config.showHomepageVariants}}
                                    <select id="productVariant-{{this._id}}" class="productVariant form-control mb-2">
                                        {{#each variants}}
                                        <option value="{{this._id}}" data-price="{{this.price}}">
                                            {{this.title}} -
                                            {{this.price}}{{currencySymbol @root.config.currencySymbol}}
                                        </option>
                                        {{/each}}
                                    </select>
                                    {{else}}
                                    <h3 class="home-product-item__price-current">
                                        {{formatAmount variants.0.price}}{{currencySymbol @root.config.currencySymbol}}
                                    </h3>
                                    {{/if}}
                                </div>
                                {{else}}
                                <h3 class="home-product-item__price-current">
                                    {{formatAmount productPrice}}{{currencySymbol @root.config.currencySymbol}}
                                </h3>
                                {{/if}}
                                {{!-- <p class="text-center">
                                                {{#if @root.config.showHomepageVariants}}
                                                <a class="home-fitter__btn btn btn__primary add-variant-to-cart"
                                                    data-id="{{this._id}}"
                                                    role="button">{{ @root.__ "Add to cart" }}</a>
                                                {{else}}
                                                <a class="home-fitter__btn btn btn__primary add-to-cart"
                                                    data-id="{{this._id}}" data-link="{{this.productPermalink}}"
                                                    data-has-variants="{{checkProductVariants this.variants}}"
                                                    role="button">{{ @root.__ "Add to cart" }}</a>
                                                {{/if}}
                                            </p> --}}

                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="itemsPerPage" value="{{productsPerPage}}">
<input type="hidden" id="pageNum" value="{{pageNum}}">
<input type="hidden" id="totalItemCount" value="{{totalProductCount}}">
<input type="hidden" id="paginateUrl" value="{{paginateUrl}}">
<input type="hidden" id="searchTerm" value="{{searchTerm}}">
<div class="col-md-12">
    <div id="pager" class="d-flex justify-content-center"></div>
</div>